@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FBFEFD
}

.Bg-gradient {
  background: linear-gradient(99.03deg, #FBED96 -1%, #ABECD6 92.31%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 23px 30px rgba(171, 236, 214, 0.2);
}

html {
  scroll-behavior: smooth;
}